header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: aquamarine;

}
main{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
footer{
    color: blue;
}